[submodule "external/cpp11-on-multicore"]
	path = external/semaphore
	url = https://github.com/preshing/cpp11-on-multicore
[submodule "external/semaphore"]
	path = external/semaphore
	url = https://github.com/preshing/cpp11-on-multicore
